# Dependências
node_modules/

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# pnpm
.pnpm-store/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# Editor
.vscode/
.idea/

# Env
.env
.env.*